<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <title>GeoLite Project</title>

        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
        />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/css/bootstrap.min.css"
        />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.1/css/mdb.min.css"
        />
        <link rel="stylesheet" href="/src/css/style.css" />
    </head>

    <body class="hm-gradient">
        <main>
            <!-- Logo and text -->
            <nav class="navbar bg-light">
                <a
                    class="navbar-brand"
                    href="https://github.com/rosiefaulkner"
                    target="_blank"
                >
                    <img
                        src="/src/img/trademark.png"
                        class="d-inline-block align-top rf-logo"
                        alt="rf-logo"
                    />
                    Rosie Faulkner
                </a>
            </nav>
            <header>
                <h1>GeoLite2 City Database</h1>
                <h3>By Rosie Faulkner</h3>
              </header>
              <form>
                <div class="group">
                  <input type="text"><span class="highlight"></span><span class="bar"></span>
                  <label>Name</label>
                </div>
                <div class="group">
                  <input type="email"><span class="highlight"></span><span class="bar"></span>
                  <label>Email</label>
                </div>
                <button type="button" class="button buttonBlue">Login
                  <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
                </button>
              </form>
        </main>
        <!-- jQuery library -->
        <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"
            defer
        ></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
            defer
        ></script>
        <!-- Popper library -->
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
            defer
        ></script>
        <!-- Bootstrap JS -->
        <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"
            defer
        ></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.1/js/mdb.min.js"
            defer
        ></script>
        <!-- Scripts -->
        <script async src="/src/js/script.js"></script>
    </body>
</html>
